@mixin flex-inside {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@mixin ugly-color {
  background-image: linear-gradient(to right, green ,lime, green);
}
div.react-content {
  display: flex;
  border: 5px solid black;
  height: 100vh;
  flex-direction: column;
}
.header {
  @include ugly-color;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  @include flex-inside;
  justify-content: space-between;
}
.map {
  flex: 3;
}
.map div.coords-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
}
.zone {
  padding: 1rem;
  @include flex-inside;
  justify-content: space-between;
}
.toolbar {
  @include ugly-color;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  @include flex-inside;
}
.range-finder {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
}
span.coord-unit {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
span.invis {
  display: none;
}
span.timestamp {
  padding: 1.2rem;
}
input.coords {
  min-width: 4rem;
}
button.btn-calc {
  min-width: 6rem;
}
