@mixin flex-inside {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
div.react-content {
  display: flex;
  border: 5px solid lime;
  height: 100vh;
  flex-direction: column;
}
.header {
  background: lime;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  @include flex-inside;
  justify-content: space-between;
}
.map {
  @include flex-inside;
  padding: 0;
  justify-content: center;
  flex-direction: column-reverse;
  flex: 5;
}
.map div.coords-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  width: 90%;
}
.toolbar {
  background: lime;
  color: rgba(0, 0, 0, 0.5);
  padding: 1rem;
  @include flex-inside;
}
.range-finder {
  display: flex;
  align-content: stretch;
  justify-content: space-between;
}
span.coord-unit {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
span.invis {
  display: none;
}
span.timestamp {
  padding: 1.2rem;
}
.map-picture img {
  width: 200px;
}
input.coords {
  min-width: 4rem;
}
